<div class="wrapper">
  <div class="header">
    <div class="header-actions">
      <button class="header__arrow">
        <<
      </button>
      <button class="header__arrow">
        <
      </button>
    </div>
    <div class="header-content">
      <div class="header-date">
        <span class="header-date__month">Июль</span>
        <span class="header-date__separate">, </span>
        <span class="header-date__year">2021</span>
      </div>
    </div>
    <div class="header-actions">
      <button class="header__arrow">
        >
      </button>
      <button class="header__arrow">
        >>
      </button>
    </div>
  </div>
  <div class="main">
    <app-datepicker-month></app-datepicker-month>
  </div>
</div>
