<div class="datepicker-years">
  <div class="datepicker-years-header">
    <div>
      <button class="btn datepicker-years-header__arrow" (click)="updateYears(-1)">
        <<
      </button>
    </div>
    <div>
      <div>
        <span *ngIf="years && years.length > 0">
          {{years[0]}} - {{years[years.length - 1]}}
        </span>
      </div>
    </div>
    <div>
      <button
        class="btn datepicker-years-header__arrow"
        (click)="updateYears(1)"
      >
        >>
      </button>
    </div>
  </div>
  <div class="datepicker-years-main">
    <span
      *ngFor="let item of years"
      class="datepicker-years__item"
      (click)="selectYear(item)"
    >{{item}}</span>
  </div>
</div>
