<div class="datepicker-month">
  <div class="datepicker-month-header">
    <div>
      <button class="btn datepicker-month-header__arrow" (click)="prevYear()">
        <<
      </button>
      <button class="btn datepicker-month-header__arrow" (click)="prevMonth()">
        <
      </button>
    </div>
    <div>
      <div>
        <span (click)="monthClick.emit()">
          {{month}}
        </span>
        <span>, </span>
        <span (click)="yearClick.emit()">
          {{year}}
        </span>
      </div>
    </div>
    <div>
      <button class="btn datepicker-month-header__arrow" (click)="nextMonth()">
        >
      </button>
      <button class="btn datepicker-month-header__arrow" (click)="nextYear()">
        >>
      </button>
    </div>
  </div>
  <div class="datepicker-month-main">
    <table class="datepicker-month-table">
      <thead>
      <tr class="datepicker-month-table__row">
        <th
          class="datepicker-month-table__cell"
          *ngFor="let item of weekDaysMin"
        >
          {{item}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
        class="datepicker-month-table__row"
        *ngFor="let weekMas of days"
      >
        <td
          class="datepicker-month-table__cell"
          [class.datepicker-month-table__cell_day]="!!date"
          [class.datepicker-month-table__cell_day_current]="isCurrentDate(date!)"
          [class.datepicker-month-table__cell_day_selected]="isSelectedDate(date!)"
          *ngFor="let date of weekMas"
          (click)="!!date && selectMonthDay(date.getJSDate())"
        >
          {{date?.getDate()}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
