.row {
  display: flex;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 30px;
  font-weight: normal;
  &_day {
    cursor: pointer;
    &:hover {
      background-color: #efefef;
      border-radius: 2px;
    }
  }
}
